{% extends 'base.html.twig' %}

{% block body %}
    <h1>Priorities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for priority in priorities %}
            <tr>
                <td><a href="{{ path('priority_show', { 'id': priority.id }) }}">{{ priority.id }}</a></td>
                <td>{{ priority.priority }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('priority_show', { 'id': priority.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('priority_edit', { 'id': priority.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('priority_new') }}">Create a new priority</a>
        </li>
    </ul>
{% endblock %}
